<Layouts.flash_group flash={@flash} />

<div class="min-h-screen flex flex-col items-center justify-center">
  <h1 class="text-4xl font-bold mb-4">
    Bienvenue sur MonApp
  </h1>
  <p class="text-lg text-base-content/70">
    Ta base Phoenix est prête !
  </p>
</div>
